.cartListCard {
    width: 100%;
    padding-left: 15px;
    margin-bottom: 70px;
}


.cartListCard h4 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
    color: #ffb71b;
}

.cartListCardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartListCard img {
    width: 40vw;
    height: auto;
    border-radius: 30px;
    border: #ffb71b solid 3px;
}

.cartStatus{
    width: 40vw;
}

.qtyHandler{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qtyHandler p {
    margin-top: 50px;
    font-weight: bold;
    color: #57565A;
}

.deleteButton img{
    width: 20px;
    height: 20px;
    border-style: none;
    margin-top: 35px;
}

.subButton img{
    width: 15px;
    height: 15px;
    border-style: none;
    margin-top: 35px;
}

.addButton img{
    width: 15px;
    height: 15px;
    border-style: none;
    margin-top: 35px;
}

.cartStatus p:last-child{
    color: #57565A;
    font-weight: bold;
    text-align: right;
    width: 90%;
    margin-top: 20px;
}