
.MainCard {
    width: 43%;
    margin : auto;
    padding: 3.5%;
    margin: 15px 0;
}

.MainCard img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    border: #ffb71b solid 2px;
}

.MainCard p {
    font-size: 18px;
}


.MainCard a {
    text-decoration: none;
    color: #ffb71b;
    font-size: 18px;
    text-align: center;
}

.cartButton {
    width: 30px;
    height: 30px;
    /* background-color: #ffb71b; */
    color: white;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    text-align: end;
}

.cartButton img {
    width: 20px;
    height: 20px;
    border: #ffb71b solid 2px;
}