.SingUPWrap {
    margin-top: 121px;
    text-align: center;
}

.top {
    color: #FAB427;
    background-color: #57565A;
    margin-top: 120px;
    font-size: 23px;
    text-align: center;
    border: #57565A solid 2px;
}

.info {
    margin: 58px auto;
    color :#57565A;
    font-size: 18px;
 }

.input {
    width: 190px;
    height: 32px;
    outline: none;
    border-radius: 10px;
}

.inputPass {
    width: 190px;
    height: 32px;
    outline: none;
    border-radius: 10px;
    -webkit-text-security: disc;
}

.input::placeholder {
    color : #57565A;
}

.inputPass::placeholder {
    color : #57565A;
}

.input:focus-within {
    border: 1px solid #FAB427;
}

.inputPass:focus-within {
    border: 1px solid #FAB427;
}

.bottom {
    text-align: center;
    border: #FAB427 solid 2px;
    background-color: #FAB427;
    cursor: pointer;
    font-size: 20px;
    color: #57565A;
}

.under {
    background-color: #57565A;
    margin-top: 70px;
    margin-bottom: 40px;
    height: 75px;
    font-size: 23px;
    text-align: center;
    border: #57565A solid 2px;
}